In [8]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [9]:
mortality_df = pd.read_csv('resources\cleaned.csv')

mortality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1451146 entries, 0 to 1451145
Data columns (total 11 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Year           1451146 non-null  int64
 1   State          1451146 non-null  object
 2   County         1451146 non-null  object
 3   CauseOfDeath   1451146 non-null  object
 4   MortalityRate  1451146 non-null  float64
 5   ConfLow        1451146 non-null  float64
 6   ConfHigh       1451146 non-null  float64
 7   AgeGroup       1451146 non-null  object
 8   Race           1451146 non-null  object
 9   Sex            1451146 non-null  object
 10  LocationID     1451146 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 121.8+ MB

In [14]:
# Strip any leading/trailing spaces from column names
mortality_df.columns = mortality_df.columns.str.strip()

In [16]:
# Select only numeric columns
numeric_df = mortality_df.select_dtypes(include=[float, int])
# Display the resulting DataFrame
print(numeric_df)

         Year  MortalityRate  ConfLow  ConfHigh  LocationID
0        2016           25.7     21.3      30.9        1001
1        2011           29.5     22.9      39.7        1001
2        2017           33.6     25.4      44.1        1001
3        2017          128.7    113.1     144.7        1001
4        2016          128.1    114.1     145.5        1001
...       ...            ...      ...       ...         ...
1451141  2018          458.8    393.4     554.6       56045
1451142  2014          470.0    404.0     543.2       56045
1451143  2011          467.7    395.0     539.8       56045
1451144  2013          474.9    403.2     551.1       56045
1451145  2019          478.2    408.0     564.6       56045

[1451146 rows x 5 columns]

In [18]:
display(numeric_df.head())
display(numeric_df.tail())

   Year  MortalityRate  ConfLow  ConfHigh  LocationID
0  2016           25.7     21.3      30.9        1001
1  2011           29.5     22.9      39.7        1001
2  2017           33.6     25.4      44.1        1001
3  2017          128.7    113.1     144.7        1001
4  2016          128.1    114.1     145.5        1001

         Year  MortalityRate  ConfLow  ConfHigh  LocationID
1451141  2018          458.8    393.4     554.6       56045
1451142  2014          470.0    404.0     543.2       56045
1451143  2011          467.7    395.0     539.8       56045
1451144  2013          474.9    403.2     551.1       56045
1451145  2019          478.2    408.0     564.6       56045

In [50]:
# Filter the data for the years 2010 to 2017
filtered_df = numeric_df[(numeric_df['Year'] >= 2010) & (numeric_df['Year'] <= 2019)]

# Group by 'Year' and calculate the mean 'MortalityRate'
grouped_df = filtered_df.groupby('Year').mean().reset_index()

# Define X and y
X = grouped_df[['Year']]
y = grouped_df['MortalityRate']

# Split the data into training and testing sets (optional)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = grouped_df[['Year']].values
y_train = grouped_df['MortalityRate'].values


X_test = np.asarray([2020, 2021, 2022, 2023]).reshape(-1, 1)
y_test = np.asarray([0,0,0,0]).reshape(-1, 1)
# Create and fit the regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Plot the results
# plt.scatter(X_test, y_test, color='blue', label='Actual')
plt.scatter(X_train, y_train, color='blue', label='Actual')
plt.plot(X_train, y_train, color='blue', label='Actual')
plt.plot(X_test, y_pred, color='red', linewidth=2, label='Predicted')
plt.xlabel('Year')
plt.ylabel('Mortality Rate')
plt.title('Mortality Rate Prediction (2010-2017)')
plt.legend()
plt.show()

# Print the model coefficients
print(f"Intercept: {model.intercept_}")
print(f"Coefficient: {model.coef_[0]}")

ValueError: Expected 2D array, got 1D array instead:
array=[2010 2011 2012 2013 2014 2015 2016 2017 2018 2019].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [28]:
grouped_df.head()

   Year  MortalityRate     ConfLow    ConfHigh    LocationID
0  2010     423.303115  371.128232  483.956795  30174.405908
1  2011     416.763918  365.563762  476.231014  30149.815878
2  2012     412.861134  362.544607  471.214737  30153.554711
3  2013     409.084740  358.619046  467.641089  30152.785212
4  2014     405.833895  355.602271  464.266304  30138.298844
5  2015     407.799322  356.868031  466.994421  30147.049218
6  2016     402.697874  352.274252  461.480583  30134.786080
7  2017     402.677369  351.524582  462.400466  30141.149477
8  2018     399.008014  347.681832  458.996319  30132.870943
9  2019     396.884826  344.360277  458.746047  30125.644681

NameError: name 'grouped_df' is not defined

In [64]:
numeric_df.to_csv('./output/numeric_mortality.csv', index=True)